final/proc-2022fall-final-01d-recording.json
[
    {
        "id": "ab7038f4131fa1be",
        "type": "tab",
        "label": "Problem 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0301dfa7f476f355",
        "type": "mqtt-broker",
        "name": "Aedes",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "79b76612ac24355f",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "67f9ce7ba9814c9f",
        "type": "mqtt-broker",
        "name": "EMQX",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dfcd83f0b5474695",
        "type": "mqtt-broker",
        "name": "HIVEMQ",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3c3aede268924629",
        "type": "mqtt-broker",
        "name": "Aedes",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f1af3c042d85c50e",
        "type": "mqtt-broker",
        "name": "EMQX",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fb52fa2bef0240ed",
        "type": "mqtt-broker",
        "name": "HIVEMQ",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bb6d969114822e9f",
        "type": "mqtt-broker",
        "name": "Aedes",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fb41e9dade151f21",
        "type": "mqtt-broker",
        "name": "EMQX",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bfa59bfb2c1a43e3",
        "type": "mqtt-broker",
        "name": "HIVEMQ",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9c004dcd165703d8",
        "type": "ui_tab",
        "name": "Problem 1 - IoT 交通號誌系統 (基本題)",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ae22c150aa9326c8",
        "type": "ui_group",
        "name": "Arduino 設計圖 (連接方式)",
        "tab": "9c004dcd165703d8",
        "order": 2,
        "disp": true,
        "width": 13,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e8b3652c4b1827c7",
        "type": "ui_group",
        "name": "本地端控制介面 (Arduino UNO)",
        "tab": "9c004dcd165703d8",
        "order": 1,
        "disp": true,
        "width": 11,
        "collapse": false,
        "className": ""
    },
    {
        "id": "63eaaf0fdc08a8d8",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "e8b3652c4b1827c7",
        "order": 1,
        "width": 7,
        "height": 1
    },
    {
        "id": "db3cd0eeb859e0a4",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "e8b3652c4b1827c7",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "86c941dbd7a3b7a4",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "e8b3652c4b1827c7",
        "order": 4,
        "width": 7,
        "height": 1
    },
    {
        "id": "a8bd055404237a55",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "e8b3652c4b1827c7",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "5014e38825b2a96e",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "e8b3652c4b1827c7",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "135cc53cab1a3b84",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "e8b3652c4b1827c7",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "fd3156de09cef38b",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "e8b3652c4b1827c7",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "a18680e88d3d6a41",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "e8b3652c4b1827c7",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "603b4a0f1171cb23",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "e8b3652c4b1827c7",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "a49d9abbbd320faa",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "e8b3652c4b1827c7",
        "order": 13,
        "width": 7,
        "height": 1
    },
    {
        "id": "7df95f457c0518bc",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "e8b3652c4b1827c7",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "843e1da8882e0714",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "e8b3652c4b1827c7",
        "order": 15,
        "width": 7,
        "height": 1
    },
    {
        "id": "ccb4e71c704d2d3e",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "e8b3652c4b1827c7",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "441d69a7219ee2ee",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "e8b3652c4b1827c7",
        "order": 17,
        "width": 2,
        "height": 1
    },
    {
        "id": "855ff63e613a488b",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "e8b3652c4b1827c7",
        "order": 19,
        "width": 2,
        "height": 1
    },
    {
        "id": "208ae1a0e9b79315",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "e8b3652c4b1827c7",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "5fc02b0ffe996aec",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "e8b3652c4b1827c7",
        "order": 21,
        "width": 7,
        "height": 1
    },
    {
        "id": "14e0885abe8a85ba",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "e8b3652c4b1827c7",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "5fc96f6133f81d72",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "ae22c150aa9326c8",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "30446a4ab4484385",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "ae22c150aa9326c8",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "1bb5b52f5dd1e66d",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "ae22c150aa9326c8",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "270cb8f0b683c924",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "ae22c150aa9326c8",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "f153e86537b56ec1",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "ae22c150aa9326c8",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "f2bb957ce045d848",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "ae22c150aa9326c8",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "e2d9c682d2fb435c",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "ae22c150aa9326c8",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "32d541d07498a762",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "ae22c150aa9326c8",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "5cc12b818167e5f2",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "ae22c150aa9326c8",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "a2f13a15d063df2e",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "ae22c150aa9326c8",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "96a6a8d63ec07646",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "ae22c150aa9326c8",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "1441476fe4c0faaa",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "ae22c150aa9326c8",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "0d6bb249e57f5d03",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "ae22c150aa9326c8",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "e911424daf7c3150",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "ae22c150aa9326c8",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "342959b859e9fcf0",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "ae22c150aa9326c8",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "53472827b5382fcb",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "ae22c150aa9326c8",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "03a4f0e7514b38fd",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "ae22c150aa9326c8",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "ec468fb7677594d8",
        "type": "ui_spacer",
        "z": "ab7038f4131fa1be",
        "name": "spacer",
        "group": "ae22c150aa9326c8",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "3d1f10bc6f9e7acf",
        "type": "ui_media",
        "z": "ab7038f4131fa1be",
        "group": "e8b3652c4b1827c7",
        "name": "",
        "width": 3,
        "height": 9,
        "order": 2,
        "category": "traffic",
        "file": "red_yellow.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 1050,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "557d1e0273cffbed",
        "type": "ui_button",
        "z": "ab7038f4131fa1be",
        "name": "",
        "group": "e8b3652c4b1827c7",
        "order": 18,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "STOP",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "stop",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 750,
        "y": 40,
        "wires": [
            [
                "65916afcdf8a176c"
            ]
        ]
    },
    {
        "id": "76b314cfa6d8f8f3",
        "type": "change",
        "z": "ab7038f4131fa1be",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mode",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "t_red",
                "pt": "flow",
                "to": "3000",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "t_red_yellow",
                "pt": "flow",
                "to": "500",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "t_green",
                "pt": "flow",
                "to": "5000",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "t_yellow",
                "pt": "flow",
                "to": "500",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 40,
        "wires": [
            [
                "557d1e0273cffbed"
            ]
        ]
    },
    {
        "id": "d47cf77108769da8",
        "type": "mqtt in",
        "z": "ab7038f4131fa1be",
        "name": "",
        "topic": "4cafd913-6020-44c4-91cb-1ce36e297fac/off",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "67f9ce7ba9814c9f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 140,
        "wires": [
            [
                "e8453fb8e5b2a392"
            ]
        ]
    },
    {
        "id": "97aa26f902399a94",
        "type": "mqtt in",
        "z": "ab7038f4131fa1be",
        "name": "",
        "topic": "4cafd913-6020-44c4-91cb-1ce36e297fac/red",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "67f9ce7ba9814c9f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 200,
        "wires": [
            [
                "a5e6a436b192f13b"
            ]
        ]
    },
    {
        "id": "ee426c9bd40e4d8d",
        "type": "mqtt in",
        "z": "ab7038f4131fa1be",
        "name": "",
        "topic": "4cafd913-6020-44c4-91cb-1ce36e297fac/green",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "67f9ce7ba9814c9f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 260,
        "wires": [
            [
                "f51a6e9c374c8452"
            ]
        ]
    },
    {
        "id": "225452de573256c0",
        "type": "mqtt out",
        "z": "ab7038f4131fa1be",
        "name": "",
        "topic": "4cafd913-6020-44c4-91cb-1ce36e297fac/red",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "67f9ce7ba9814c9f",
        "x": 1130,
        "y": 1120,
        "wires": []
    },
    {
        "id": "e5bcb77f59629fb7",
        "type": "inject",
        "z": "ab7038f4131fa1be",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Init. Global Variables",
        "payloadType": "str",
        "x": 160,
        "y": 40,
        "wires": [
            [
                "76b314cfa6d8f8f3"
            ]
        ]
    },
    {
        "id": "5cc3c93b2bb95098",
        "type": "mqtt out",
        "z": "ab7038f4131fa1be",
        "name": "",
        "topic": "4cafd913-6020-44c4-91cb-1ce36e297fac/red-yellow",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "67f9ce7ba9814c9f",
        "x": 1160,
        "y": 1200,
        "wires": []
    },
    {
        "id": "d32bf1a72b9ed94c",
        "type": "mqtt out",
        "z": "ab7038f4131fa1be",
        "name": "",
        "topic": "4cafd913-6020-44c4-91cb-1ce36e297fac/green",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "67f9ce7ba9814c9f",
        "x": 1140,
        "y": 1280,
        "wires": []
    },
    {
        "id": "41ee5d42cf0b27f8",
        "type": "mqtt in",
        "z": "ab7038f4131fa1be",
        "name": "",
        "topic": "4cafd913-6020-44c4-91cb-1ce36e297fac/yellow",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "67f9ce7ba9814c9f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 320,
        "wires": [
            [
                "9a275bb66f9114cd"
            ]
        ]
    },
    {
        "id": "e847bde869cd8f31",
        "type": "mqtt in",
        "z": "ab7038f4131fa1be",
        "name": "",
        "topic": "4cafd913-6020-44c4-91cb-1ce36e297fac/red-yellow",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "67f9ce7ba9814c9f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 380,
        "wires": [
            [
                "158bd1fbb28d5cc4"
            ]
        ]
    },
    {
        "id": "8406eaf257f320fc",
        "type": "mqtt out",
        "z": "ab7038f4131fa1be",
        "name": "",
        "topic": "4cafd913-6020-44c4-91cb-1ce36e297fac/yellow",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "67f9ce7ba9814c9f",
        "x": 1140,
        "y": 1360,
        "wires": []
    },
    {
        "id": "e77adaae256c03eb",
        "type": "delay",
        "z": "ab7038f4131fa1be",
        "name": "",
        "pauseType": "delayv",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 1200,
        "wires": [
            [
                "bcd163f94e0cbd8a"
            ]
        ]
    },
    {
        "id": "603fd0a742a13765",
        "type": "delay",
        "z": "ab7038f4131fa1be",
        "name": "",
        "pauseType": "delayv",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 1280,
        "wires": [
            [
                "50dafb043af9277f"
            ]
        ]
    },
    {
        "id": "5486e4c10144eeb9",
        "type": "delay",
        "z": "ab7038f4131fa1be",
        "name": "",
        "pauseType": "delayv",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 1360,
        "wires": [
            [
                "d226cd6e5c20c566"
            ]
        ]
    },
    {
        "id": "8cbf3f2c73688d3f",
        "type": "delay",
        "z": "ab7038f4131fa1be",
        "name": "",
        "pauseType": "delayv",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 1440,
        "wires": [
            [
                "1ffd214e9b9fee8f",
                "14f8cd6885a24566"
            ]
        ]
    },
    {
        "id": "14f8cd6885a24566",
        "type": "change",
        "z": "ab7038f4131fa1be",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "t_red",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1200,
        "wires": [
            [
                "e77adaae256c03eb"
            ]
        ]
    },
    {
        "id": "25e3ef643bae05ac",
        "type": "change",
        "z": "ab7038f4131fa1be",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "t_red_yellow",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1280,
        "wires": [
            [
                "603fd0a742a13765"
            ]
        ]
    },
    {
        "id": "30f0b8ecb3eb192a",
        "type": "change",
        "z": "ab7038f4131fa1be",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "t_green",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1360,
        "wires": [
            [
                "5486e4c10144eeb9"
            ]
        ]
    },
    {
        "id": "66dd1f6b1301ca34",
        "type": "change",
        "z": "ab7038f4131fa1be",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "t_yellow",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1440,
        "wires": [
            [
                "8cbf3f2c73688d3f"
            ]
        ]
    },
    {
        "id": "50dafb043af9277f",
        "type": "switch",
        "z": "ab7038f4131fa1be",
        "name": "",
        "property": "mode",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 850,
        "y": 1280,
        "wires": [
            [
                "d32bf1a72b9ed94c",
                "30f0b8ecb3eb192a"
            ]
        ]
    },
    {
        "id": "e8453fb8e5b2a392",
        "type": "change",
        "z": "ab7038f4131fa1be",
        "name": "OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "traffic/off.png",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 140,
        "wires": [
            [
                "3d1f10bc6f9e7acf"
            ]
        ]
    },
    {
        "id": "a5e6a436b192f13b",
        "type": "change",
        "z": "ab7038f4131fa1be",
        "name": "RED",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "traffic/red.png",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 200,
        "wires": [
            [
                "3d1f10bc6f9e7acf"
            ]
        ]
    },
    {
        "id": "f51a6e9c374c8452",
        "type": "change",
        "z": "ab7038f4131fa1be",
        "name": "GREEN",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "traffic/green.png",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 260,
        "wires": [
            [
                "3d1f10bc6f9e7acf"
            ]
        ]
    },
    {
        "id": "9a275bb66f9114cd",
        "type": "change",
        "z": "ab7038f4131fa1be",
        "name": "YELLOW",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "traffic/yellow.png",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 320,
        "wires": [
            [
                "3d1f10bc6f9e7acf"
            ]
        ]
    },
    {
        "id": "158bd1fbb28d5cc4",
        "type": "change",
        "z": "ab7038f4131fa1be",
        "name": "RED_YELLOW",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "traffic/red_yellow.png",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 380,
        "wires": [
            [
                "3d1f10bc6f9e7acf"
            ]
        ]
    },
    {
        "id": "8f5caf85f7fd0f7e",
        "type": "ui_button",
        "z": "ab7038f4131fa1be",
        "name": "",
        "group": "e8b3652c4b1827c7",
        "order": 10,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "MODE",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "a9a48209ecc0740e"
            ]
        ]
    },
    {
        "id": "a9a48209ecc0740e",
        "type": "function",
        "z": "ab7038f4131fa1be",
        "name": "function 2",
        "func": "var mode = Number(flow.get(\"mode\"));\n\nif (msg.payload == 0) {\n    mode++;\n    if (mode>3) mode = 0;\n} else if (msg.payload >= 100) {\n    mode = msg.payload%100;\n}\n\nflow.set(\"mode\",mode);\n\nmsg.payload = mode;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 500,
        "wires": [
            [
                "87faf572b6cc80b5",
                "3a35ae4b86193dc2",
                "1ffd214e9b9fee8f",
                "a19d20875d648887",
                "2fff41527eba0791",
                "b23016c071ece93e"
            ]
        ]
    },
    {
        "id": "8b177073d78ae6a6",
        "type": "mqtt out",
        "z": "ab7038f4131fa1be",
        "name": "",
        "topic": "4cafd913-6020-44c4-91cb-1ce36e297fac/red",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "67f9ce7ba9814c9f",
        "x": 1190,
        "y": 600,
        "wires": []
    },
    {
        "id": "dda56550cc163f65",
        "type": "mqtt out",
        "z": "ab7038f4131fa1be",
        "name": "",
        "topic": "4cafd913-6020-44c4-91cb-1ce36e297fac/off",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "67f9ce7ba9814c9f",
        "x": 1190,
        "y": 640,
        "wires": []
    },
    {
        "id": "71a38546394a7ce1",
        "type": "delay",
        "z": "ab7038f4131fa1be",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 800,
        "y": 640,
        "wires": [
            [
                "d290af8eefddb291",
                "d653794c58f110fc"
            ]
        ]
    },
    {
        "id": "87faf572b6cc80b5",
        "type": "switch",
        "z": "ab7038f4131fa1be",
        "name": "",
        "property": "mode",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 650,
        "y": 600,
        "wires": [
            [
                "8b177073d78ae6a6",
                "71a38546394a7ce1"
            ]
        ]
    },
    {
        "id": "d290af8eefddb291",
        "type": "delay",
        "z": "ab7038f4131fa1be",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 800,
        "y": 720,
        "wires": [
            [
                "87faf572b6cc80b5"
            ]
        ]
    },
    {
        "id": "4006eeadcb63df9c",
        "type": "mqtt out",
        "z": "ab7038f4131fa1be",
        "name": "",
        "topic": "4cafd913-6020-44c4-91cb-1ce36e297fac/yellow",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "67f9ce7ba9814c9f",
        "x": 1200,
        "y": 800,
        "wires": []
    },
    {
        "id": "31783bb58ef3c1bb",
        "type": "mqtt out",
        "z": "ab7038f4131fa1be",
        "name": "",
        "topic": "4cafd913-6020-44c4-91cb-1ce36e297fac/off",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "67f9ce7ba9814c9f",
        "x": 1190,
        "y": 840,
        "wires": []
    },
    {
        "id": "0789d468a06dfc6b",
        "type": "delay",
        "z": "ab7038f4131fa1be",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 800,
        "y": 840,
        "wires": [
            [
                "c8404793ee72b498",
                "798837a091e86406"
            ]
        ]
    },
    {
        "id": "3a35ae4b86193dc2",
        "type": "switch",
        "z": "ab7038f4131fa1be",
        "name": "",
        "property": "mode",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 650,
        "y": 800,
        "wires": [
            [
                "4006eeadcb63df9c",
                "0789d468a06dfc6b"
            ]
        ]
    },
    {
        "id": "c8404793ee72b498",
        "type": "delay",
        "z": "ab7038f4131fa1be",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 800,
        "y": 920,
        "wires": [
            [
                "3a35ae4b86193dc2"
            ]
        ]
    },
    {
        "id": "65916afcdf8a176c",
        "type": "change",
        "z": "ab7038f4131fa1be",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mode",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 40,
        "wires": [
            [
                "e8453fb8e5b2a392",
                "2fff41527eba0791",
                "b23016c071ece93e"
            ]
        ]
    },
    {
        "id": "d226cd6e5c20c566",
        "type": "switch",
        "z": "ab7038f4131fa1be",
        "name": "",
        "property": "mode",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 850,
        "y": 1360,
        "wires": [
            [
                "8406eaf257f320fc",
                "66dd1f6b1301ca34"
            ]
        ]
    },
    {
        "id": "bcd163f94e0cbd8a",
        "type": "switch",
        "z": "ab7038f4131fa1be",
        "name": "",
        "property": "mode",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 850,
        "y": 1200,
        "wires": [
            [
                "5cc3c93b2bb95098",
                "25e3ef643bae05ac"
            ]
        ]
    },
    {
        "id": "1ffd214e9b9fee8f",
        "type": "switch",
        "z": "ab7038f4131fa1be",
        "name": "",
        "property": "mode",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 1120,
        "wires": [
            [
                "225452de573256c0",
                "14f8cd6885a24566"
            ]
        ]
    },
    {
        "id": "a19d20875d648887",
        "type": "switch",
        "z": "ab7038f4131fa1be",
        "name": "",
        "property": "mode",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 440,
        "wires": [
            [
                "e8453fb8e5b2a392"
            ]
        ]
    },
    {
        "id": "d653794c58f110fc",
        "type": "switch",
        "z": "ab7038f4131fa1be",
        "name": "",
        "property": "mode",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 950,
        "y": 640,
        "wires": [
            [
                "dda56550cc163f65"
            ]
        ]
    },
    {
        "id": "798837a091e86406",
        "type": "switch",
        "z": "ab7038f4131fa1be",
        "name": "",
        "property": "mode",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 950,
        "y": 840,
        "wires": [
            [
                "31783bb58ef3c1bb"
            ]
        ]
    },
    {
        "id": "2fff41527eba0791",
        "type": "ui_template",
        "z": "ab7038f4131fa1be",
        "group": "e8b3652c4b1827c7",
        "name": "",
        "order": 6,
        "width": 7,
        "height": 2,
        "format": "<div style=\"text-align: center; font-size: 30px; color: yellow;\">\n    工作模式：{{msg.payload}}\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1240,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "e1b69c6f9f6e5b26",
        "type": "mqtt in",
        "z": "ab7038f4131fa1be",
        "name": "",
        "topic": "4cafd913-6020-44c4-91cb-1ce36e297fac/mode0",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "67f9ce7ba9814c9f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 1700,
        "wires": [
            [
                "4cf08abe7d4f2e22"
            ]
        ]
    },
    {
        "id": "1f120ccb791f1c19",
        "type": "link in",
        "z": "ab7038f4131fa1be",
        "name": "change-mode",
        "links": [
            "d587829d957daf6d"
        ],
        "x": 125,
        "y": 580,
        "wires": [
            [
                "a9a48209ecc0740e",
                "5b43cab203c6d62e"
            ]
        ]
    },
    {
        "id": "d587829d957daf6d",
        "type": "link out",
        "z": "ab7038f4131fa1be",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "1f120ccb791f1c19"
        ],
        "x": 825,
        "y": 1700,
        "wires": []
    },
    {
        "id": "4cf08abe7d4f2e22",
        "type": "change",
        "z": "ab7038f4131fa1be",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "100",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1700,
        "wires": [
            [
                "d587829d957daf6d"
            ]
        ]
    },
    {
        "id": "261247838eb72f89",
        "type": "mqtt in",
        "z": "ab7038f4131fa1be",
        "name": "",
        "topic": "4cafd913-6020-44c4-91cb-1ce36e297fac/mode1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "67f9ce7ba9814c9f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 1760,
        "wires": [
            [
                "2709ba55f9027a69"
            ]
        ]
    },
    {
        "id": "2709ba55f9027a69",
        "type": "change",
        "z": "ab7038f4131fa1be",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "101",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1760,
        "wires": [
            [
                "d587829d957daf6d"
            ]
        ]
    },
    {
        "id": "75dbbefa902197d8",
        "type": "mqtt in",
        "z": "ab7038f4131fa1be",
        "name": "",
        "topic": "4cafd913-6020-44c4-91cb-1ce36e297fac/mode2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "67f9ce7ba9814c9f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 1820,
        "wires": [
            [
                "e8bc499b816c8028"
            ]
        ]
    },
    {
        "id": "e8bc499b816c8028",
        "type": "change",
        "z": "ab7038f4131fa1be",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "102",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1820,
        "wires": [
            [
                "d587829d957daf6d"
            ]
        ]
    },
    {
        "id": "a0a8349c3831efdd",
        "type": "mqtt in",
        "z": "ab7038f4131fa1be",
        "name": "",
        "topic": "4cafd913-6020-44c4-91cb-1ce36e297fac/mode3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "67f9ce7ba9814c9f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 1880,
        "wires": [
            [
                "e6b6370137a5bf09"
            ]
        ]
    },
    {
        "id": "e6b6370137a5bf09",
        "type": "change",
        "z": "ab7038f4131fa1be",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "103",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1880,
        "wires": [
            [
                "d587829d957daf6d"
            ]
        ]
    },
    {
        "id": "5b43cab203c6d62e",
        "type": "debug",
        "z": "ab7038f4131fa1be",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 280,
        "y": 580,
        "wires": []
    },
    {
        "id": "b23016c071ece93e",
        "type": "mqtt out",
        "z": "ab7038f4131fa1be",
        "name": "",
        "topic": "4cafd913-6020-44c4-91cb-1ce36e297fac/mode",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "67f9ce7ba9814c9f",
        "x": 1400,
        "y": 380,
        "wires": []
    },
    {
        "id": "78bd5180e7d03ae9",
        "type": "mqtt in",
        "z": "ab7038f4131fa1be",
        "name": "",
        "topic": "4cafd913-6020-44c4-91cb-1ce36e297fac/next",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "67f9ce7ba9814c9f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 1940,
        "wires": [
            [
                "cb7d18655352a2eb"
            ]
        ]
    },
    {
        "id": "cb7d18655352a2eb",
        "type": "change",
        "z": "ab7038f4131fa1be",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1940,
        "wires": [
            [
                "d587829d957daf6d"
            ]
        ]
    },
    {
        "id": "cbea748f31ff6b2f",
        "type": "mqtt in",
        "z": "ab7038f4131fa1be",
        "name": "",
        "topic": "4cafd913-6020-44c4-91cb-1ce36e297fac/init",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "67f9ce7ba9814c9f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1350,
        "y": 60,
        "wires": [
            [
                "f2f8a92dc264b661"
            ]
        ]
    },
    {
        "id": "f2f8a92dc264b661",
        "type": "change",
        "z": "ab7038f4131fa1be",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "mode",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 180,
        "wires": [
            [
                "b23016c071ece93e",
                "016a4ad03d70cbaf"
            ]
        ]
    },
    {
        "id": "016a4ad03d70cbaf",
        "type": "debug",
        "z": "ab7038f4131fa1be",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1520,
        "y": 300,
        "wires": []
    },
    {
        "id": "1c9462912ec9bf27",
        "type": "ui_media",
        "z": "ab7038f4131fa1be",
        "group": "ae22c150aa9326c8",
        "name": "",
        "width": 11,
        "height": 9,
        "order": 2,
        "category": "Arduino",
        "file": "aruino-01a.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 1490,
        "y": 440,
        "wires": [
            []
        ]
    }
]